head {
  text-align: center;
}
.sections {
  float: left;
  border-radius: 20px;
  background-color: #525252;
  height: 50px;
}
body {
    background-color: black;
    text-align: center;  
  }
#title {
    width: 100%;
  }